h1 {
  color: rgb(255, 0, 225);
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}
h2 {
  color: rgb(255, 0, 225);
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}
h3 {
  color: rgb(255, 0, 225);
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}
h4 {
  color: rgb(255, 0, 225);
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}
a:link, a:visited {
background-image: url('latyi.png');
color: white;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
background-image: url('latyi2.png');
}
body {
background-image: url('bg.jpg');
}